{% extends 'AppBundle::layout.html.twig' %}

{% block content_inner %}  
    
<a class="btn btn-info" style="margin-bottom: 10px;" href="{{ path('czesci_drzewo', {'id': part.project.id }) }}">Zobacz Strukturę <i class="fa fa-sort-amount-desc"></i></a>

    
    <div class="panel panel-default">
        <div class="panel-body">
            {% set route = app.request.attributes.get('_route') %}  

            <div class="tabs-wrapper"> 
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation"  class="{% if route == 'czesc_edytuj'%}active{% endif %}">
                        <a href="{{ path('czesc_edytuj', {'id': part.id}) }}" >Edycja</a>
                    </li>
                    <li role="presentation" class="{% if route == 'czesc_edytuj_materialy'%}active{% endif %}">
                        <a href="{{ path('czesc_edytuj_materialy', {'id': part.id}) }}" >Materiały</a>
                    </li>
                    <li role="presentation" class="{% if route == 'czesc_edytuj_technologie'%}active{% endif %}">
                        <a href="{{ path('czesc_edytuj_technologie', {'id': part.id}) }}">Technologie</a>
                    </li>          
                </ul>
            </div>

            <div class="col-md-4">
                
                {% if route == 'czesc_edytuj_technologie' %}
                   {% set linkTreeName = 'link_details_technology' %}                    
                {% elseif route == 'czesc_edytuj_materialy' %}                    
                    {% set linkTreeName = 'link_details_fabric' %}
                {% else %}
                     {% set linkTreeName = 'link_details' %}
                {% endif %}
                
                {{ include('AppBundle:Part:inc_tree.html.twig', {'part':part, 'linkTreeName': linkTreeName}) }}
            </div> 
            <div class="col-md-8">            
            {% block subcontent %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
