{# Przypisywanie części #}
{% extends 'AppBundle:Part:edit_layout.html.twig' %}

{% block subcontent %}
    
    {% raw %}
        <style>
            .ui-autocomplete.ui-widget-content {
                z-index: 9999 !important;
            }            
        </style>
        
    {% endraw %}
    
    
    <a id="trg-fabric-add" href="{{ path('czesc_zapisz_material', {'id': part.id}) }}" class="btn btn-success">Dodaj materiał</a>

    
    {% if part.fabrics2part | length %}
    
    <table class="table table-bordered" style="margin-top: 20px;">
        <thead>
            <tr>
                <th class="text-center">Nazwa</th>
                <th class="text-center">Ilość</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
            </tr>
        </thead>
        
        <tbody>
            {% for fabric2part in part.fabrics2part %}
            <tr>
                <td class="text-center">
                    {{ fabric2part.fabric.name }}
                </td>
                <td class="text-center">
                    {{ fabric2part.quantity }}                    
                    <span class="unit">{{ fabric2part.fabric.unit.unit }}</span>
                </td>
                <td class="text-center">
                    <a class="btn btn-info trg-fabric-edit" data-fabric-id="{{ fabric2part.fabric.id }}" data-fabric-name="{{ fabric2part.fabric.name }}" data-quantity="{{ fabric2part.quantity }}" data-unit-unit="{{ fabric2part.fabric.unit.unit }}"  href="{{ path('czesc_zapisz_material', {'id': part.id}) }}">Edytuj</a>
                </td>
                <td class="text-center">
                    <a class="btn btn-danger trg-delete" href="{{ path('czesc_usun_material', {'id': part.id, 'id_fabric2part': fabric2part.id }) }}">Usuń</a>
                </td>
            </tr>    
            {% endfor %}
        </tbody>        
    </table>
        
    {% endif %}
    
    

    <div id="cnt-modal-fabric" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <form class="form" id="form-fabric" action="">  
                    <input type="hidden" name="fabric2part[fabric_id]" value="" id="fabric2part_fabric_id">
                    <div class="modal-body">       
                            <div class="form-group">
                                <label>Materiał:</label>
                                <input type="text"  value="" id="trg-search-fabric" class="form-control" required>      
                            </div>     
                            <div class="form-group" id="placeholder-unit">
                                <label>Nowa ilość:</label>
                                <br />
                                <input type="text" name="fabric2part[quantity]" id="fabric2part_quantity" value="" id="trg-set-quantity"  class="form-control" style="width: 100px; display: inline-block;" required>
                                <span class="unit" id="placeholder-unit-unit"></span>
                            </div>                    

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                        <button type="submit" class="btn btn-primary">Zapisz</button>
                    </div>
                </form>  
            </div>
        </div>
    </div>
    
    {% raw %}
        <script>
            $(function ($) {
                var MaterailManager = {                    
                    urlSave: "{% endraw %}{{ path('czesc_zapisz_material', {'id': part.id}) }}{% raw %}",
                    
                    init: function () {
                        var self = this;
                        // Modal
                        this.cntModal = $("#cnt-modal-fabric").modal({
                            show: false
                        });
                        // Formularz
                        this.cntForm = $("#form-fabric");    
                        this.cntForm.on("submit", function(e){
                            e.preventDefault();                            
                            var url = $(this).attr("action");
                            var data = $(this).serialize();                            
                            $.post(self.urlSave, data, function(response){
                                if(response.status === "OK"){
                                    window.location.reload();
                                }
                            });
                        });
                        
                       
                        // Wyszukiwarka materiałow 
                        $("#trg-search-fabric").autocomplete({
                            source: {% endraw %}"{{ path('material_szukaj') }}"{% raw %},
                            minLength: 1,
                            select: function (event, ui) {                               
                                self.setFormData(ui.item.data);
                            }
                        });
                    },                    
                    resetForm: function () {
                        this.cntForm[0].reset();
                        $("#placeholder-unit").hide();
                        $("#trg-search-fabric").prop("disabled", false);
                        
                    },
                    showModal: function (data, title) {   
                        var data = data || {};
                        var title = title || "";
                        
                        this.resetForm(); 
                        
                        // Tyuł mldala
                        this.cntModal.find(".modal-title").html(title);
                        
                        if(data.fabric_id){
                           // Edycja materailu - nie można zmieniąć materiału
                            $("#trg-search-fabric").prop("disabled", true);
                        };                     
                                              
                        this.setFormData(data);
                        this.cntModal.modal("show");
                    },
                    
                    hideModal: function () {
                        this.resetForm();
                        this.cntModal.modal("hide");
                    },
                    setFormData: function (data) {
                        var data = data || {};
                        
                        if (data.action) {
                            this.cntForm.attr("action", data.action)
                        };

                        if (data.fabric_id) {
                            $("#fabric2part_fabric_id").val(data.fabric_id);
                        };

                        if (data.quantity) {
                            $("#placeholder-unit").show();
                            $("#fabric2part_quantity").val(data.quantity);
                        };
                        
                        if (data.fabric_name) {
                            $("#trg-search-fabric").val(data.fabric_name);
                        };
                        
                        if (data.unit_unit) {
                            $("#placeholder-unit").fadeIn("slow");
                            $("#placeholder-unit-unit").html(data.unit_unit);
                        };
                    }
                };

                MaterailManager.init();

                // Dodawanie materiału
                $("#trg-fabric-add").on("click", function (e) {
                    e.preventDefault();
                    MaterailManager.showModal({
                        action: $(this).attr("href")
                    }, "Dodawanie materiału");
                });
                // Edycja materiału
                $(".trg-fabric-edit").on("click", function (e) {
                    e.preventDefault();
                    MaterailManager.showModal({
                        action: $(this).attr("href"),
                        fabric_id: $(this).attr("data-fabric-id"),
                        fabric_name: $(this).attr("data-fabric-name"),
                        quantity: $(this).attr("data-quantity"),
                        unit_unit: $(this).attr("data-unit-unit")
                    }, "Edycja materiału");
                });
               

            });
        </script>            
    {% endraw %}
    
    
{% endblock %}
