{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}    
    {{ form_row(form.name) }}    
    {{ form_row(form.isDrawing) }} 
    {{ form_row(form.isCompleted) }}
    {% if part is not defined %}
        <div class="from-group">
            {# wybieranie części nadrzędnej tylko przy dodawaniu nowej części #}
            <label class="control-label required" for="part_name">Cześć nadrzędna</label>
            <input type="hidden" id="part_parentId" name="parentId" value="0">
            <div id="cnt-part-tree" >

            </div>
            {% raw %} 
                <script>
                    $(function ($) {
                        var sourceUrl = {% endraw %}"{{ path('czesc_drzewko_struktura',{'id': project.id }) }}"{% raw %};
                        var patternUrlDrzewko = {% endraw %}"{{ path('czesci_drzewko', {'parent_id': 'parent_id', 'child_id': 'child_id'}) }}"{% raw %};

                        $("#cnt-part-tree").fancytree({
                            source: {
                                url: sourceUrl,
                                cache: false
                            },
                            checkbox: false,
                            click: function (e, data) {
                                if (data.node.parent.key !== "root_1") {
                                    $("#part_parentId").val(data.node.key)
                                } else {
                                    $("#part_parentId").val(0);
                                }

                                return true;
                            }
                        });
                    });
                </script>
            {% endraw %}
        </div>
    {% endif %}
<button type="submit" class="btn btn-info">Zapisz</button>
{{ form_end(form) }}    