{% extends 'AppBundle::layout.html.twig' %}

{% block content_inner %}
     <a class="btn btn-success" href="{{ path('czesc_dodaj', {'id': project.id}  ) }}">Dodaj część</a>
    
    <div class="panel panel-default">
        <div class="panel-heading">
        {% if parts.getTotalItemCount %}
            Części
        {% else %}    
            Brak części
        {% endif %}
        </div>               
        
        {% if parts.getTotalItemCount %}
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <th class="text-center">Id</th>
                        <th class="text-center">Nazwa</th>
                        <th class="text-center">Utworzony</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                    </thead>
                    
                    <tbody>
                        {% for part in parts %}
                        <tr>
                            <td class="text-center">{{ part.id }}</td>
                            <td class="text-center">{{ part.name }}</td>
                            <td class="text-center">
                                {{ part.timeAdd | date('Y:m:d H:i') }}
                                <div>
                                   {{ part.user.name }} {{ part.user.surname }}
                                </div>
                            
                            </td>                          
                            <td class="text-center">
                                <a href="{{ path('czesc_edytuj', {'id': part.id}) }}" class="btn btn-info">Edytuj</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ path('czesc_usun', {'id': part.id}) }}" class="btn btn-danger">Usuń</a>
                            </td>                            
                        </tr>
                        {% endfor %}                        
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}