{% extends 'AppBundle::layout.html.twig' %}

{% block content_inner %}  
    <div class="main-box clearfix">
       <header class="main-box-header clearfix">
          <div class="filter-block pull-right">
             <a class="btn btn-primary pull-right" href="{{ path('czesc_dodaj', {'id': project.id}) }}"><i class="fa fa-plus-circle fa-lg"></i> Dodaj część</a>
          </div>
        </header>

    <div class="main-box-body clearfix">
        
        <form class="form form-inline"  id="search-part-form">
            <div class="form-group">
                <label>Technologia</label>
                <select  class="form-control trg-part-search" name="technology_id">
                    <option value="">wszystkie</option>
                    {% for technology in technologies %}
                        <option value="{{ technology.id }}">{{ technology.name }}</option>                        
                    {% endfor %}                    
                </select>                
            </div>
        </form>
        
     <div class="table-responsive">
      <table id="cnt-part-tree" class="table">
        <colgroup>
            <col width="30px"></col>
            <col width="30px"></col>
            <col width="*"></col>
            <col width="50px"></col>
            <col width="30px"></col>
        </colgroup>
        <thead>
            <tr>           
                <th></th> 
                <th></th> 
                <th></th> 
                <th style="width: 5%;" class="th-part-worker">Materiały</th>          
                <th style="width: 5%;" class="th-part-drow">Rysunek</th>          
                <th style="width: 10%;" class="th-part-ready">Technologie</th>      
                 {% if is_granted('ROLE_ADMIN') %}
                <th style="width: 5%;" class="th-part-details"></th>     
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr> 

                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
                <td></td> 
                
                {% if is_granted('ROLE_ADMIN') %}
                <td></td>                  
                {% endif %}
            </tr>
        </tbody>
      </table>
     </div>
    </div>
</div>


    {% raw %}
        
        <style>
            span.fancytree-expander {
                display: none !important;
            }
        </style>
        
        <script>
            $(function ($) {
                
                var isAdmin = {% endraw %}{% if is_granted('ROLE_ADMIN') %}true{% else %}false{% endif %}{% raw %};                
                var sourceUrl = {% endraw %}"{{ sourceUrl }}"{% raw %};
                var patternUrlDrzewko = {% endraw %}"{{ path('czesci_drzewko', {'parent_id': 'parent_id', 'child_id': 'child_id'}) }}"{% raw %};
                var patternUrlDelete = {% endraw %}"{{ path('czesc_ax_usun', {'id': 'part_id'}) }}"{% raw %};


                $("#cnt-part-tree").fancytree({
                    extensions: ["table", "dnd"],
                    source: {
                        url: sourceUrl,
                        cache: false
                    },
                    checkbox: false,
                    click: function (e, data) {
                    },
                    
                    collapse: function(e, data) {
                        return false;
                    },
                    
                    renderColumns: function (event, data) {
                        var node = data.node,
                                $tdList = $(node.tr).find(">td");
                        // (index #0 is rendered by fancytree by adding the checkbox)
                        $tdList.eq(1).text(node.getIndexHier()).addClass("alignRight");
                        // (index #2 is rendered by fancytree)                                         
                        var trgDelete = $("<a href='' class='table-link danger trg-delete' title='Usuń'><span class='fa-stack'><i class='fa fa-square fa-stack-2x'></i><i class='fa fa-trash-o fa-stack-1x fa-inverse'></i></span> </a>");
                        trgDelete.on("click", function (e) {
                            e.preventDefault();
                            if(!confirm("Jesteś pewien, że chcesz usunąć ten element?")){
                                return false;
                            };
                            $.post(patternUrlDelete.replace("part_id", data.node.key)).success(function (response) {
                              if (response.status && response.status === 'OK') {
                                    data.tree.reload(response.data);
                              }
                                maszyny.Modal.show(response.message);
                            });
                        });                        
                        
                        if (data.node.parent.key !== "root_1") {                            
                            // Czy są dodane materiały
                            
                            var classSpan = !!data.node.data.fabrics ? "label-success" : "label-warning";
                            var classIcon = !!data.node.data.fabrics ? "fa-thumbs-o-up" : "fa-thumbs-o-down";     
                            var titleSpan = !!data.node.data.fabrics ? "Tak" : "Brak";     
                            $tdList.eq(3).html("<span style='display:block; margin-bottom: 5px;' class='label " + classSpan  + "'>"  + titleSpan + " <i class='fa " + classIcon + "'></i></span>");
                            
                            // Czy jest wydruk
                            if(data.node.data.is_drawing){
                                 $tdList.eq(4).html("<span class='label label-success'>Ok <i class='fa fa-picture-o'></i></span>");
                            }else{
                                $tdList.eq(4).html("<span class='label label-warning'>Brak <i class='fa fa-thumbs-o-down'></i></span>");
                            };      
                            
                            
                            if(data.node.data.technologies){
                               var htmlTechnologies = [];
                               
                               $.each(data.node.data.technologies, function(i, el){
                                   var classSpan = !!el.is_completed ? "label-success" : "label-warning";
                                   var classIcon = !!el.is_completed ? "fa-thumbs-o-up" : "fa-thumbs-o-down";                                   
                                   htmlTechnologies.push("<span style='display:block; margin-bottom: 5px;' class='label " + classSpan  + "'>"  + el.name + " <i class='fa " + classIcon + "'></i></span>");
                               });
                               
                               
                                $tdList.eq(5).html(htmlTechnologies.join(''));
                            };
                            
                            
                            // Czy część jest gotowa
                            //if(data.node.data.is_completed){
                            //    $tdList.eq(5).html("<span class='label label-success'>Gotowa ok <i class='fa fa-thumbs-o-up'></i></span>");
                           // }else{
                            //    $tdList.eq(5).html("<span class='label label-warning'>Nie gotowa <i class='fa fa-thumbs-o-down'></i></span>");
                            //};     
                       
                            if(isAdmin){
                                $tdList.eq(6).append(trgDelete);
                            };
                           // $tdList.eq(6).html("<a href='" + node.data.link_details + "' class='btn btn-info'>Szczegóły <i class='fa fa-cogs'></i></a>");
                        }

                    },
                    table: {
                        indentation: 10, // indent 20px per node level
                        nodeColumnIdx: 2, // render the node title into the 2nd column
                        checkboxColumnIdx: 0  // render the checkboxes into the 1st column
                    }
                    /*
                    dnd: {
                        autoExpandMS: 400,
                        focusOnClick: true,
                        preventVoidMoves: true, // Prevent dropping nodes 'before self', etc.
                        preventRecursiveMoves: true, // Prevent dropping nodes on own descendants
                        dragStart: function (node, data) {
                            return true;
                        },
                        dragEnter: function (node, data) {                          
                            return true;
                        },
                        dragDrop: function (node, data) {
                            // Węzeł do którego przenosimy
                            var parent_id = 0;
                            if (data.node.parent.key === "root_1") {
                                return false;
                            }

                            if (data.hitMode === "over") {
                                parent_id = data.node.key;
                            } else if (data.hitMode == "before" || data.hitMode == "after") {
                                parent_id = data.node.parent.key;
                            }
                            // Węzeł który przenosimy
                            var child_id = data.otherNode.key;
                            // Url do żądania ajax 
                            var url = patternUrlDrzewko.replace("parent_id", parent_id).replace("child_id", child_id);

                            $.post(url, function (response) {
                                if (response.status === "OK") {
                                    data.tree.reload(response.data);
                                } else {
                                    maszyny.Modal.show(response.message);
                                }
                            });

                        }
                    }*/
                });
                
                
                $(".trg-part-search").on("change", function(e){                    
                    $("#cnt-part-tree").fancytree("option", "source", {
                        url: sourceUrl + "?" + $("#search-part-form").serialize(),
                        cache: false
                    });                    
                    $("#cnt-part-tree").fancytree("getTree").reload();        
                });
            });
        </script>        
    {% endraw %}

{% endblock %}