{% extends 'AppBundle::layout.html.twig' %}

{% block content_inner %}


    <div class="panel panel-default">
        <div class="panel-heading">
            {% if projects.getTotalItemCount %}
                Projekty <i class="fa fa-cog"></i>
            {% else %}    
                Brak projektów
            {% endif %}
        </div>               

        <div class="panel-body">   
            <header class="main-box-header clearfix">
                <a class="btn btn-primary pull-left" href="{{ path('projekt_dodaj') }}"> 
                    <i class="fa fa-plus-circle fa-lg"></i> Dodaj projekt
                </a>
                <form class="form form-inline pull-right" method="get">                        
                    <div class="form-group ">
                        <input name="search[q]" value="{%if search.q is defined %}{{ search.q }}{% endif %}" type="text" placeholder="Szukaj..." class="form-control">
                        
                    </div>
                    <div class="form-group ">
                        <button type="submit" class="btn btn-success">Szukaj <i class="fa fa-search search-icon"></i></button>
                    </div>
                </form>
            </header>


            {% if projects.getTotalItemCount %}
                <div class="main-box-body clearfix margin-top20">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <th class="text-center">Id</th>
                            <th class="text-center">Nazwa projektu</th>                                              
                            <th class="text-center">Data utworzenia</th>
                            <th class="text-center">Pracownik</th>
                            <th class="text-center"></th>
                            </thead>

                            <tbody>
                                {% for project in projects %}
                                    <tr>
                                        <td class="text-center">{{ project.id }}</td>
                                        <td class="text-center">
                                            <a href="{{ path('czesci_drzewo', {'id': project.id}) }}"  title="Zobacz strukturę">{{ project.name }}</a></td>                           
                                        <td class="text-center">
                                            {{ project.timeAdd | date('Y:m:d H:i') }}
                                        </td> 
                                        <td class="text-center">
                                            <i class="fa fa-user fa-lg"></i> {{ project.user.name }}
                                        </td> 
                                        
                                        
                                       
                                        <td style="width: 15%;">                                            
                                                
                                            {% if is_granted('ROLE_ADMIN') %}
                                            <a href="{{ path('projekt_edytuj', {'id': project.id}) }}" class="table-link" title="Edytuj">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            {% endif %}
                                            
                                            {% if is_granted('ROLE_ADMIN') %}
                                            <a href="{{ path('projekt_usun', {'id': project.id}) }}" class="table-link danger trg-delete" title="Usuń">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                </span>
                                            </a>
                                            {% endif %}
                                        </td>  
                                        
                                    </tr>
                                {% endfor %}                        
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}