{% extends 'AppBundle::layout.html.twig' %}

{% block content_inner %}
     <a class="btn btn-success" href="{{ path('projekt_dodaj') }}">Dodaj projekt</a>
    
    <div class="panel panel-default">
        <div class="panel-heading">
        {% if projects.getTotalItemCount %}
            Projekty
        {% else %}    
            Brak projektów
        {% endif %}
        </div>               
        
        {% if projects.getTotalItemCount %}
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <th class="text-center">Id</th>
                        <th class="text-center">Nazwa</th>
                        <th class="text-center">Rysunek</th>                        
                        <th class="text-center">Utworzony</th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                    </thead>
                    
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <td class="text-center">{{ project.id }}</td>
                            <td class="text-center">{{ project.name }}</td>
                            <td class="text-center">{% if project.isDrawing %}TAK{% else %}NIE{% endif %} </td>
                            <td class="text-center">{{ project.timeAdd | date('Y:m:d H:i') }}</td>                            
                            <td class="text-center">
                                <a href="{{ path('czesci_drzewo', {'id': project.id}) }}" class="btn btn-info">Struktura</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ path('projekt_edytuj', {'id': project.id}) }}" class="btn btn-info">Edytuj</a>
                            </td>
                            <td class="text-center">
                                <a href="{{ path('projekt_usun', {'id': project.id}) }}" class="btn btn-danger">Usuń</a>
                            </td>                            
                        </tr>
                        {% endfor %}                        
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}