{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}    
<div class="col-md-8"> 
    <div class="panel panel-default">
        <div class="panel-body">           

            <div class="row">               
                <div class="col-md-6"> 
                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div class="col-md-6"> 
                    <div class="form-group">
                        {{ form_label(form.unit) }}
                        {{ form_widget(form.unit) }}
                        {{ form_errors(form.unit) }}
                    </div>
                </div>
                <div class="col-md-6"> 
                    <div class="form-group">
                        {{ form_label(form.scale) }}
                        {{ form_widget(form.scale) }}
                        {{ form_errors(form.scale) }}
                    </div>
                </div>
            </div>  
            <button type="submit" class="btn btn-primary pull-right">Zapisz <i class="fa fa-floppy-o"></i></button>
        </div>
    </div>
</div>
{{ form_end(form) }}    
